<div class="py-2 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 d-none d-lg-block">
                <a href="{{ asset('assets') }}/#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                <a href="{{ asset('assets') }}/#" class="small mr-3"><span class="icon-phone2 mr-2"></span> 10 20 123 456</a>
                <a href="{{ asset('assets') }}/#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> info@mydomain.com</a>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p></p>
                <a href="/user" ><img src="{{ asset('uploads/images/'~ app.user.image) }}"  style="height: 30px;">{{ app.user.name }} {{ app.user.surname }}</a>
                &nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	 &nbsp;
            <a href="/logout" class="small mr-3"><span class="icon-unlock-alt"></span> Logout</a>

                {% else %}
                    <div class="col-lg-3 text-right">

                        <a href="/login" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>

                        <a href="/register" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Register</a>
                    </div>
            {% endif %}

        </div>
    </div>
</div>
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
        <div class="d-flex align-items-center">
            {#<div class="site-logo">
                <a href="{{ asset('assets') }}/index.html" class="d-block">
                    <img src="{{ asset('assets') }}/images/logo.jpg" alt="Image" class="img-fluid">
                </a>
            </div>#}
            <div class="mr-auto">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active">
                            <a href="/" class="nav-link text-left">Home</a>
                        </li>

                       {# <li>
                            <a href="{{ asset('assets') }}/admissions.html" class="nav-link text-left">Admissions</a>
                        </li>
                        <li>
                            <a href="{{ asset('assets') }}/courses.html" class="nav-link text-left">Courses</a>
                        </li>#}
                        <li>
                            <a href="/about" class="nav-link text-left">Hakkımızda</a>
                        </li>

                       {# <li class="has-children">
                            <a href="/about" class="nav-link text-left">Hakkımızda</a>
                            <ul class="dropdown">
                                <li><a href="{{ asset('assets') }}/teachers.html">Our Teachers</a></li>
                                <li><a href="{{ asset('assets') }}/about.html">Our School</a></li>
                            </ul>
                        </li>#}
                        <li>
                            <a href="/contact" class="nav-link text-left">Iletişim</a>
                        </li>
                    </ul>                                                                                                                                                                                                                                                                                          </ul>
                </nav>

            </div>
            <div class="ml-auto">
                <div class="social-wrap">
                    <a href="https://www.facebook.com/TheLyEmpathy" target="_blank"><span class="icon-facebook"></span></a>
                    <a href="https://twitter.com/AIperKyc"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/alperkyc/"><span class="icon-instagram"></span></a>

                    <a href="{{ asset('assets') }}/#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                                class="icon-menu h3"></span></a>
                </div>
            </div>

        </div>
    </div>

</header>