<div class="hero-slide owl-carousel site-blocks-cover">
    {% for rs in slider %}
    <div class="intro-section" onclick="location.href='/{{ rs.id }}';" style="background-image: url('{{ asset('uploads/images/'~ rs.image) }}'); height: 100px; "  >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>{{ rs.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



   {# <div class="intro-section" >
        {% for rs in slider %}
        <img src="{{ asset('uploads/images/'~ rs.image) }}" height="20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                    <h1>{{ rs.title }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>#}



</div>