<head>

    <link href="{{ asset('assets') }}/tab/css/bootstrap.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/css/flexslider.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/css/style.css" rel="stylesheet">
    <link href="{{ asset('assets') }}/tab/color/default.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('assets') }}/tab/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets') }}/tab/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets') }}/tab/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets') }}/tab/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('assets') }}/tab/ico/apple-touch-icon-57-precomposed.png">

    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>
    <script src="{{ asset('assets') }}/tab/js/jquery.js"></script>
    <script src="{{ asset('assets') }}/tab/js/raphael-min.js"></script>
    <script src="{{ asset('assets') }}/tab/js/jquery.easing.1.3.js"></script>
    <script src="{{ asset('assets') }}/tab/js/bootstrap.js"></script>
    <script src="{{ asset('assets') }}/tab/js/google-code-prettify/prettify.js"></script>
    <script src="{{ asset('assets') }}/tab/js/jquery.elastislide.js"></script>
    <script src="{{ asset('assets') }}/tab/js/jquery.prettyPhoto.js"></script>
    <script src="{{ asset('assets') }}/tab/js/jquery.flexslider.js"></script>
    <script src="{{ asset('assets') }}/tab/js/jquery-hover-effect.js"></script>
    <script src="{{ asset('assets') }}/tab/js/animate.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="{{ asset('assets') }}/tab/js/custom.js"></script>
</head>


