{% extends 'homebase.html.twig' %}

{% block title %}{{app.user.name }} Profile{% endblock %}

{% block body %}
    {{  include('user/usermenu.html.twig')}}
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
                         class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <img src="{{ asset('uploads/images/'~ app.user.image) }}" height="80px">
                    <div class="profile-usertitle-name">
                        {{ app.user.name }} {{ app.user.surname }}
                    </div>

                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">
                    <button type="button" class="btn btn-success btn-sm">Follow</button>
                    <button type="button" class="btn btn-danger btn-sm">Message</button>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="/user/">
                                <i class="glyphicon glyphicon-user"></i>
                                My Profile </a>
                        </li>
                        <li>
                            <a href="/user/places">
                                <i class="glyphicon glyphicon-home"></i>
                                My Places </a>
                        </li>
                        <li>
                            <a href="/user/comments">
                                <i class="glyphicon glyphicon-comment"></i>
                                My Comments</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Contact </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="glyphicon glyphicon-log-out"></i>
                                Logout </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>

        <div class="col-md-9">


            <h1>User Place Ekleme</h1>

    {{ include('place/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_place_index') }}" class="btn btn-primary">back to list</a>

    {{ include('place/_delete_form.html.twig') }}
        </div>

    </div>
</div>

    <br>
    <br>

{% endblock %}
