<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block head %}{% include('admin/head.html.twig') %}   {% endblock %}
    </head>
    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
        {% block header %}{% include('admin/header.html.twig') %}{% endblock %}
        {% block sidebar %}{% include('admin/sidebar.html.twig') %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% include('admin/footer.html.twig') %}{% endblock %}



        </div>
    </div>

    <!-- jQuery -->
    <script src="{{ asset('assets') }}/admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets') }}/admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets') }}/admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets') }}/admin/vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets') }}/admin/build/js/custom.min.js"></script>


    </body>
</html>
